<div class="blogs-div">
  <h1>Blogs</h1>
  <div class="menu">

    <!-- search bar -->
    <form class="search">
      <label for="search">🔍</label>
      <input
        placeholder="Serarch blogs by title or author"
        type="text"
        id="search"
        ng-model="search"
        title="search"
        size="50"
      />
    </form>
  </div>
  <div class="blogs-display">
    <div ng-repeat="blog in blogs | filter: search">
      <div ng-include="'views/blogCard.html'"></div>
    </div>
  </div>
  
  <div ng-include="'views/addBlog.html'"></div>
</div>
