<div class="blogs-div">
  <h1>Blogs</h1>
  <div class="menu">
    <!-- Dropdown -->
    <!-- <div class="dropdown-div">
      <p ng-click="toggleDropdown($event)">Filters</p>
      <div
        ng-show="isDropdownVisible"
        class="dropdown"
        ng-click="$event.stopPropagation()"
      >
        <ul>
          <li
            ng-repeat="option in dropdownOptions"
            ng-click="selectOption(option)"
						class="dropdown-item"
          >
            ➡️{{ option.label }}
          </li>
        </ul>
      </div>
    </div> -->

    <!-- search bar -->
    <form class="search">
      <label for="search">🔍</label>
      <input
        placeholder="Serarch blogs by title or author"
        type="text"
        id="search"
        ng-model="search"
        title="search"
        size="50"
      />
    </form>
  </div>
  <div class="blogs-display">
    <!-- <div ng-repeat="blog in blogs | filter: search | orderBy : order"> -->
    <div ng-repeat="blog in blogs | filter: customFilter">
      <div ng-include="'views/blogCard.html'"></div>
    </div>
  </div>
  
  <div ng-include="'views/addBlog.html'"></div>
</div>
