<!-- blogs.component.html -->
<div class="blogs-div">
  <h1>Blogs</h1>
  <div class="menu">
    <!-- search bar -->
    <form class="search">
      <label for="search">🔍</label>
      <input
        placeholder="Search blogs by title or author"
        type="text"
        [(ngModel)]="search"
        name="search"
        size="50"
      />
    </form>
  </div>

  <div class="blogs-display">
    <div *ngFor="let blog of blogs">
      <app-blog-card [blog]="blog"></app-blog-card>
    </div>
  </div>

  <app-add-blog></app-add-blog>
</div>
